{{- with .Title | default .Site.Title }}
<meta property="og:title" content="{{ . }}" />
{{- end }}
{{- with .Description | default .Params.subtitle }}
<meta property="og:description" content="{{ . | truncate 200 }}">
{{- end }}
{{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{{- end }}
{{- with .Site.Params.fb_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
{{- if .IsPage }}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- with .Params.author }}
<meta property="article:author" content="{{ . }}" />
{{- end }}
{{- with .Params.tags }}
{{- range . }}
<meta property="article:tag" content="{{ . }}" />
{{- end }}
{{- end }}
{{- else }}
<meta property="og:type" content="website" />
{{- end }}
<meta property="og:site_name" content="{{ .Site.Title }}" />
