{{- define "main" -}}

<h1>{{ .Title | markdownify }}</h1>
<p>
  <small class="text-secondary">
  {{ $customDateFormat := "January 2, 2006" }}
  {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
  {{ .PublishDate.Format $customDateFormat }}{{ if gt .Lastmod .PublishDate }}, updated {{ .Lastmod.Format $customDateFormat }}{{ end }}
    &nbsp;&#9679;&nbsp;
  {{ .Params.readingTime }} min read
    &nbsp;&#x25CF;&nbsp;
  </small>
  {{ partial "tags" . }}
</p>
{{ .Content }}

<a href="#top">Top</a>
{{- end -}}
